<div class="login-container">
  <div class="left-side">
    <div class="content">
      <form class="login-form" (ngSubmit)="onLogin()" #loginForm="ngForm" novalidate>
        <img src="assets/login/logo.svg" alt="Logo" />
        <div class="inputs">
          <div class="input">
            <p>E-mail</p>
            <input 
              type="email" 
              placeholder="seuemail@exemplo.com" 
              [(ngModel)]="email" 
              name="email" 
              required
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
              #emailInput="ngModel"
              [ngClass]="{'error-input': emailInput.invalid && (emailInput.dirty || emailInput.touched)}"
            />
            <span class="error-message" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
              <span *ngIf="emailInput.errors?.['required']">O e-mail é obrigatório.</span>
              <span *ngIf="emailInput.errors?.['pattern']">Por favor, insira um e-mail válido.</span>
            </span>
          </div>
          <div class="input">
            <p>Senha</p>
            <input 
              type="password" 
              placeholder="••••••••" 
              [(ngModel)]="password" 
              name="password" 
              required
              #passwordInput="ngModel"
              [ngClass]="{'error-input': passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)}"
            />
            <span class="error-message" *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
              <span *ngIf="passwordInput.errors?.['required']">A senha é obrigatória.</span>
            </span>
          </div>
        </div>
        <div class="password-options">
          <p class="forgot-password">Esqueci a senha</p>
        </div>
        <div class="error-container" *ngIf="errorMessage">
          <span class="error-message">{{ errorMessage }}</span>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
      </form>
    </div>
    <div class="footer">
      <p>® Desenvolvido por Azape</p>
    </div>
  </div>
  <div class="right-side">
    <div class="image-container">
      <img src="assets/login/servicos.svg" alt="Serviços" />
    </div>
  </div>
</div>